{{!-- тут шаблон для рендера карточек в библиотеке --}}

<li class="photo-card" data-id="{{id}}">

    <h1>ТУТ пока ничего нет</h1>
    {{!-- <img src="https://image.tmdb.org/t/p/w1280{{poster_path}}" height="400" />

    <div class="card-text">
        <h3 class="title-card">{{title}} {{original_name}}</h3>
        <p class="desc-card">{{genre}} | {{release_date}} {{first_air_date}}
        <p class="vote">{{vote_average}}</p>
        </p>
        {{!-- добавил vote_average чтоб примерить стили --}}
    </div> --}}
</li>