{{#each this}}
<li class="photo-card" data-id="{{id}}">
    <img src="https://image.tmdb.org/t/p/w1280{{poster_path}}" alt="{{title}}" data-id="{{id}}" class="poster-film" />

    <div class="card-text">
        <h3 class="title-card">{{title}} {{original_name}}</h3>
        <p class="desc-card">{{genre}} | {{year}} {{release_date}}</p>
    </div>
</li>
{{/each}}