<li class="photo-card" data-id="{{id}}">
    <img src="https://image.tmdb.org/t/p/w1280{{poster_path}}" height="400" />

    <div class="card-text">
        <h3 class="title-card">{{title}} {{original_name}}</h3>
        <p class="desc-card">{{genre}} | {{release_date}} {{first_air_date}}</p>
    </div>
</li>